.Rproj.user
.Rhistory
.RData
.Ruserdata
#data
data-downloaded/climate-data
data-downloaded/sst_raw
#figures and outputs
figures
output
pub
#folder for messing around
hannahland
#!archive/**/*.stan #ignore all archived items except stan models # this doesn't work?
archive

